<div class="sidebar">
  <ul>
    <li class="<%= activeRoute === '/dashboard' ? 'active' : '' %>"><a href="/dashboard">Home</a></li>
    <li class="<%= activeRoute === '/servers' ? 'active' : '' %>"><a href="/servers">Servers</a></li>
    <li class="<%= activeRoute === '/store' ? 'active' : '' %>"><a href="/store">Store</a></li>
    <li class="<%= activeRoute === '/earn' ? 'active' : '' %>"><a href="/earn">Earn</a></li>
    <li class="<%= activeRoute === '/account' ? 'active' : '' %>"><a href="/account">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>